<!-- This is just a placeholder. Feel free to do here whatever you would like to. -->
<h1>Search for customers:</h1>
<div>
  <input type="text">
  <input type="submit" value="Search" (click)="executeSearch()">
  <input type="submit" value="Clear" (click)="clearSearch()">
</div>
<div *ngIf="hasResults">
  <ul>
    <li>
      😎 Arnie Wightweiß
    </li>
    <li>
      🏭 OBM 879665465464
    </li>
    <li>
      😎 Jackie Chen
    </li>
    <li>
      😎 Dolphicco Lundgerinio
    </li>
    <li>
      🏭 Fuhitsu 894844410
    </li>
    <li>
      😎 Jason Statbeef
    </li>
    <li>
      😎 Sylvester Horse
    </li>
    <li>
      🏭 Qompaq 84666884118
    </li>
  </ul>
  <button>Save</button>
</div>
